#Files to ignore
*/Build
*/Binaries
*/DerivedDataCache
*/Intermediate
*/Saved

#Ignore only for this project as it is a big file
BuildingEscape/Content/StarterContent/Textures
BuildingEscape/Content/StarterContent/HDRI
BuildingEscape/BuildingEscape.VC.db

